.wrapper {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  color: black;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
