.list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding-top: 200px;
}

.wrapper {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 1s;
}
